$primaryDarkBlue: hsl(218, 28%, 13%); //main background
$secondaryDarkBlue: hsl(217, 28%, 15%); //intro and email sign up background
$testimonials: hsl(219, 30%, 18%);
$footer: hsl(216, 53%, 9%);

$callToAction: linear-gradient(90deg, #65e2d9, #339ecc);
